# Dependencies
node_modules/
.pnpm-store/

# Hardhat
artifacts/
cache/
typechain-types/

# Coverage
coverage/
coverage.json

# Build
dist/
out/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
